.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  gap: 50px;
}

.text-box {
  padding: 20px;
  background-color: aqua;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box_item {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 20px;
}




